<footer class="pie-de-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSypgCN_dEya1qtjAXdcGAUPSDJoW5DiWcagA&usqp=CAU" alt="logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>CONTACTO</h2>
            <ul>
                <li>Johan Andres Ariza Betancourt</li>
                <li>Bogota-Colombia</li>
                <li>Tel: 3206040580-827-345</li>
                <li>Correo-electronico:<br>ja5120559@gmail.com</li>
                </ul>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; <b>TASKBOARD</b> Todos los derechos reservados</small>
    </div>
</footer>